body {
    margin: 0;
    background-color: white;
    font-family: 'Montserrat', sans-serif;
}

/* Configurações do Header */

header {
    background-color: #000000;
    color: #fff;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 7px 50px;
}

.logo img {
    max-width: 200px;
}


nav ul {
    list-style: none;
    display: flex;
}

nav li {
    margin-right: 70px;
}

nav a {
    display: inline-block;
    -webkit-border-radius: 10;
    -moz-border-radius: 10;
    border-radius: 15px;
    font-family: Arial;
    color: #ffffff;
    font-size: 20px;
    background: #000000;
    padding: 10px 20px 10px 20px;
    text-decoration: none;
    border: solid #000000 2px;
    transition: border-color 0.3s;
    font-family: 'Montserrat', sans-serif;
    
}

nav a:hover {
    text-decoration: underline;
    -webkit-border-radius: 10;
    -moz-border-radius: 10;
    border-radius: 15px;
    font-family: Arial;
    color: #ffffff;
    font-size: 20px;
    background: #000000;
    padding: 10px 20px 10px 20px;
    border: solid #ffffff 2px;
    text-decoration: none;
    transform: translateY(-3px) translateX(3px);
    font-family: 'Montserrat', sans-serif;
    
    
}

/* Configurações da div esquerda */

.h1 {
    font-size: 60px;
    text-align: left;
}

.contenttext p{
    font-size: 18px;
    font-weight: bold;
    color: #868E96;
}

.greatingtext {
    border: 2px solid #000000;
    float: left;
    box-sizing: border-box;
    width: 50%;
    height: 480px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.contenttext {
    margin-bottom: 0; /* Altere a margem inferior para 0 */
    margin-left: 60px;
    box-sizing: border-box;
    display: block;
    justify-content: center;
    align-items: center;
    text-align: center;
}

.contenttext p {
    display: inline-block;
}

.social-midia img {
width: 45px;
}

#linkedin:hover, #github:hover, #instagram:hover, #facebook:hover, #whatsapp:hover {
    filter: brightness(1.5);
}

.botaofrente{
    height: 70px;
}

.botaocontato, .botaoresumo {
    display: inline-block;
    width: 23%;      /* Aqui é onde eu ajusto a distancia horizontal entre os botoes */
    margin-top: 30px;
}

.divbotaofrente a{
    display: inline-block;
    -webkit-border-radius: 10;
    -moz-border-radius: 10;
    border-radius: 15px;
    font-family: Arial;
    color: #ffffff;
    font-size: 20px;
    background: #000000;
    padding: 10px 20px 10px 20px;
    text-decoration: none;
    border: solid #000000 2px;
    transition: border-color 0.3s;
    font-family: 'Montserrat', sans-serif;
}

.divbotaofrente a:hover {
    text-decoration: underline;
    -webkit-border-radius: 10;
    -moz-border-radius: 10;
    border-radius: 15px;
    font-family: Arial;
    color: #ffffff;
    font-size: 20px;
    background: #000000;
    padding: 10px 20px 10px 20px;
    border: solid #ffffff 2px;
    text-decoration: none;
    transform: translateY(-3px) translateX(3px);
    font-family: 'Montserrat', sans-serif;
    box-shadow: 5px 5px 5px 2px #000;
    
    
}

/* configuração da mãozinha */

.hand-icon {
    display: inline-block;
    vertical-align: bottom;
    animation: waving 0.6s infinite; 
    transform-origin: bottom right; 
  }

  @keyframes waving {
    0%, 100% {
      transform: rotate(0deg);
    }
    50% {
      transform: rotate(15deg);
    }
  }

/* Configurações da div direita */

.greatingimg {
    border: 2px solid #000000;
    float: left;
    box-sizing: border-box;
    width: 50%;
    height: 480px;
}


/* Configurações dos emoticons da div textos inicial */
#pilha-de-livros {
    width: 15px;
}

#robotica {
    width: 15px;
}

#informatica {
    width: 15px;
}


/* Configurações da foto na segunda div */

.imgdev img {
    width: 700px;
}

/* ----------------------------------------------------------------------------------------------------------------------*/
/* começa o conteúdo 2*/

.conteudo2e {
    border: 2px solid #000000;
    float: left;
    box-sizing: border-box;
    width: 50%;
    height: 480px;
}

.conteudo2d {
    border: 2px solid #000000;
    float: left;
    box-sizing: border-box;
    width: 50%;
    height: 480px;
    padding-left: 75px;
    padding-top: 75px;
}

.conteudo2e img {
    width: 650px;
    margin-top: 100px;
    margin-left: 50px;
}

.hardskills li{
    list-style: none;   
    display: inline-block;
}

.hardskills img{
    width: 50px;
}

.hardskills-icon{
    color: gray;
    font-size: 10px;
}


/* ----------------------------------------------------------------------------------------------------------------------*/
/* começa o conteúdo 3*/

.experiencies{
display: inline-flex;
justify-content: center;
padding-top: 50px;
padding-left: 250px;
}

.content{
    display: inline-flex;
    border: #000000 2px solid;
    width: 100%;
    height: 480px;
    justify-content: center;
    align-items: center;
}

#carouselExampleCaptions h5, #carouselExampleCaptions p{
    color: #000000;
}

#carouselExampleCaptions{
    border: #000000 1px solid;
}

.carousel{
    border-radius: 20px;
}

.carousel img{
    border-radius: 20px;
}

.conteudo4{
    border: #000000 2px solid;
    height: 570px; 
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
    padding-left: 100px;
    padding-right: 100px;
    padding-top: 100px;
}

.projeto{
    margin-left: 50px;
    margin-right: 50px;
    border: #000000 1px solid;
    border-radius: 10px;
    width: 330px;
    height: 200px;
    text-align: center;
    transition: 0.5s;
    
}

.projeto:hover{
    transform: translateY(-3px) translateX(3px);
    box-shadow: 10px 10px 5px 2px #000;
}

.projeto img{
    width: 25px;
}